/* .boton {
    border: 1px solid var(--color-acento);
    background: var(--color-acento);
    color: var(--color-texto);
    padding: 10px 12px;
    border-radius: var(--radio-1);
    cursor: pointer;
} */

.boton--fantasma {
    background: transparent;
}


.filtro__badge {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.filtro__badge svg {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
}

.btn {
    width: 100%;
    transition: all 0.3s;
}

.btn:hover {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.btn:hover {
    border: 1px solid white;
}


.btn-primario {
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn-primario:hover {
    background-color: #15bdff;
}


.btn-filtro {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.8rem;
    font-size: 15px;

    color: #090909;
    border-radius: 6px;
    background: #ededed;
    box-shadow: 6px 6px 11px #c7c7c7,
        -6px -6px 11px #ffffff;
    transition: all 0.3s;
}

.opcion:hover .btn-filtro {
    background: rgba(179, 179, 179, 0.425);
}

.opcion input:checked+.btn-filtro {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.opcion input:focus-visible+.btn-filtro {
    background-color: #e8e8e8;
}

.opcion:active .btn-filtro {
    transform: translateY(0px);
}


.btn-limpiar-filtros {
    margin-top: auto;
}

.btn-limpiar-filtros[hidden] {
    display: none;
}