@media (max-width: 768px) {

    /* En móvil, la navegación se mueve a la tabbar inferior */
    .navegacion {
        display: none;
    }

    .tabbar {
        display: block;
    }

    .fila-formulario {
        grid-template-columns: 1fr;
    }

    .navegacion {
        width: 100%;
    }

    .fila-formulario {
        grid-template-columns: 1fr;
    }

    .form-fila-formulario {
        grid-template-columns: 1fr !important;
    }

}

@media (min-width: 766px) {
    .contenedor-vidrio {
        padding: var(--padding-vidrio-m);
    }

    .principal-layout {
        padding: var(--padding-principal-vertical-m) var(--padding-principal-horizontal-m);
    }

    .tarea {
        padding: var(--padding-tarjeta-m);
    }

    .progreso {
        padding-top: 1rem;
        margin-bottom: var(--padding-bottm-m);
        gap: var(progreso--gap-m);
    }



}

@media (max-width: 768px) {
    .principal-layout {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 360px) {
    .principal-layout {
        gap: 12px;
        padding: 12px;

    }

    .badge-prioridad {
        margin-left: 8px;
    }

    .tarea__titulo {
        font-size: 18px;
    }

}

@media (max-width: 768px) {
    .seccion-tareas {
        margin-bottom: calc(var(--alto-tabbar) + 62px + env(safe-area-inset-bottom));
    }
}

@media (max-width: 768px) {
    .contenedor__encabezado-derecho {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }

    .tarea-nueva--en-header {
        width: 100%;
        margin-top: 12px;
    }

    .tarea-nueva--en-header .form {
        width: 100%;
    }

    .tarea-nueva--en-header .form-fila-formulario {
        grid-template-columns: 1fr;
    }

    .busqueda-tareas {
        padding: 0.4rem 0.3rem;
    }

    .btn-primario {
        padding: 7px;
    }

    .progreso {
        background: white;
        padding-top: 2rem;
        padding-bottom: 1rem;
        top: 3.9rem;
    }

    body {
        background: var(--color-fondo);
    }


}