/* =========================
   <= 1200px
========================= */
@media (max-width: 1200px) {
    .grid-tareas {
        --grid-gap-tareas: 1.5rem;
    }

    .campo-texto {
        padding: 0.8rem;
    }

    .principal-layout {
        --grid-gap-layout: 1.5rem;
    }
}

/* =========================
   <= 1024px
========================= */
@media (max-width: 1024px) {
    .grid-tareas {
        --grid-gap-tareas: 1.5rem;
    }
}

/* =========================
   <= 992px
========================= */
@media (max-width: 992px) {

    #btnToggleLayout span,
    #btnCompleteAllTasks span,
    #btnDeleteAllTasks span {
        display: none;
    }
}

/* =========================
   >= 766px
========================= */
@media (min-width: 766px) {
    .contenedor-vidrio {
        padding: var(--padding-vidrio-m);
    }

    .principal-layout {
        padding: var(--padding-principal-vertical-m) var(--padding-principal-horizontal-m);
    }

    .tarea {
        padding: var(--padding-tarjeta-m);
    }

    .progreso {
        margin-bottom: var(--padding-bottm-m);
        gap: var(--progreso--gap-m);
    }
}

/* =========================
   <= 768px
========================= */
@media (max-width: 768px) {

    /* Layout general */
    .principal-layout {
        grid-template-columns: 1fr;
    }

    .seccion-tareas {
        margin-bottom: calc(var(--alto-tabbar) + 62px + env(safe-area-inset-bottom));
    }

    /* Navegación móvil */
    .navegacion {
        display: none;
        width: 100%;
    }

    .tabbar {
        display: block;
    }

    /* Formularios */
    .fila-formulario,
    .form-fila-formulario {
        grid-template-columns: 1fr;
    }

    .campo-texto {
        padding: 0.6rem;
    }

    .campo-texto--en-header {
        width: 100%;
        margin-top: 12px;
    }

    .campo-texto--en-header .form {
        width: 100%;
    }

    .campo-texto--en-header .form-fila-formulario {
        grid-template-columns: 1fr;
    }

    /* Header */
    .contenedor__encabezado-derecho {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
    }

    /* Botones / progreso */
    .btn-primario {
        padding: 7px;
    }

    .progreso {
        padding-top: 2rem;
        padding-bottom: 1rem;
        top: 3.9rem;
    }

    /* Fondo */
    body {
        background: var(--color-fondo);
    }
}

/* =========================
   <= 360px
========================= */
@media (max-width: 360px) {
    .principal-layout {
        gap: 12px;
        padding: 12px;
    }

    .badge-prioridad {
        margin-left: 8px;
    }

    .tarea__titulo {
        font-size: 18px;
    }
}