.gm {
    border: 1px solid var(--color-borde);
    border-radius: var(--radio-3);
    padding: var(--padding-vidrio-s);
    background-color: white;
}

.principal-layout {
    padding: var(--padding-principal-vertical-s) var(--padding-principal-horizontal-s);
    display: grid;
    grid-template-columns: minmax(220px, 280px) minmax(0, 1fr);
    gap: var(--grid-gap-layout);
}

.content {
    min-width: 0;
}